<style>
#h{
   padding: 15px 15px 15px 15px;
}
.la {
   font-family: tahoma;
   font-size: 20px;
   margin-left: 25%;
}
#header{
   margin: 0px;
}
.head{
   width: 100%;
}
.image1{
   float: right;
}
.l{
   align: center;
   margin-left: 500px;
   width: 30%;
}
.lp{
   margin: 0px 35px 0px 35px;
}
#first {
   border: 1px solid black;
   margin: 20px 1.5% 20px 15%;
   width: 15%;
   float: left;
   text-align: center;
}
.f{
   width: 100%;
   height: 160px;
}
#second {
   border: 1px solid black;
   margin: 20px 1.5% 20px 10%;
   width: 15%;
   float: left;
   text-align: center;
}
#third {
   border: 1px solid black;
   margin: 20px 1.5% 20px 10%;
   width: 15%;
   float: left;
   text-align: center;
}
.p{
   align: center;
   margin-left: 500px;
   width: 30%;
}
.pp{
   margin: 0px 35px 0px 35px;
}
#fourth {
   border: 1px solid black;
   margin: 20px 1.5% 20px 15%;
   width: 15%;
   float: left;
   text-align: center;
}
#fifth {
   border: 1px solid black;
   margin: 20px 1.5% 20px 10%;
   width: 15%;
   float: left;
   text-align: center;
}
#sixth {
   border: 1px solid black;
   margin: 20px 1.5% 20px 10%;
   width: 15%;
   float: left;
   text-align: center;
}
.b{
   width: 50%;
   height: 50px;
}
#brand1 {
    margin-left: 15%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;	
	width: 12.5%
}
#brand2 {
    margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;	
	width: 12.5%
}
#brand3 {
    margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;	
	width: 12.5%
}
#brand4 {
    margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	float: left;	
	width: 12.5%
}
</style>